body {
    background-image: url(../assets/images/concrete_seamless.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    float: left;
    width: 100%;
    background-color: #ffffff;
    margin: 0 0 40px 0;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 20px;
    font-size: 24px;
    -webkit-animation-name: h1;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes h1 {
    from {color: #4aaaa5;}
    to {color: #ffffff;}
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: solid 2px #cccccc;
}

ul {
    float: right;
}

li {
    display: inline-block;
}

li a {
    color: #777777;
    text-decoration: none;
    -webkit-animation-name: li-a;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes li-a {
    from {color: #ffffff;}
    to {color: #777777;}
}

li a:hover {
    color: #4aaaa5;
}

/*** below targets the 1st li of the ul ***/
ul:nth-of-type(1) li:nth-of-type(1) {
    padding: 20px;
}

ul:nth-of-type(1) li:nth-of-type(2) {
    padding: 20px;
}

ul:nth-of-type(1) li:nth-of-type(3) {
    padding: 20px 0 20px 20px;
}
    

.img {
    display: inline-block;
    padding: 10px;
}

.img1 {
    float: left;
    margin: 0 20px 20px 0;
}

.img-clear {
    display: inline-block;
    padding-right: 300px;
}

.banner {
    position: absolute;
    z-index: 1;
}

#b1 {
    position: absolute;
    width: 200px;
    height: 16px;
    top: 206px;
    left: 10px;
    padding: 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

#b2 {
    position: absolute;
    width: 200px;
    height: 16px;
    top: 140px;
    left: 10px;
    padding: 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

#b3 {
    position: absolute;
    width: 200px;
    height: 16px;
    top: -82px;
    left: 234px;
    padding: 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

#b4 {
    position: absolute;
    width: 200px;
    height: 16px;
    top: -82px;
    left: 459px;
    padding: 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

#b5 {
    position: absolute;
    width: 200px;
    height: 16px;
    top: -82px;
    left: 683px;
    padding: 20px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

#main {
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    clear: left;
}

#main-form {
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    clear: left;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.cont-form {
  border-radius: 5px;
  background-color: #ffffff;
}  

#about1 {
    float: left;
    clear: right;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    z-index: 2;
}

#footer-style {
    padding: 18px;
    background-color: #666666;
    clear: left;
    flex-shrink: 0;
}

/***************** Media Queries ********/

@media screen and (max-width: 980px) {
    #wrapper {
        width: 800px;
    }

    #b4 {
        left: 234px;
    }

    #b2 {
        top: 142px;
        left: 10px!important;
    }

    #b5 {
        top: 140px;
        left: 10px;
    }
}

@media screen and (max-width: 768px) {
    #wrapper {
        width: 600px;
    }

    li {
        padding: 2px;
    }
}

@media screen and (max-width: 640px) {
    #wrapper {
        width: 455px;
    }

    header {
        position: static;
    }
}